body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-field {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.field, .ship {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.p1-ship {
    background-color: aqua;
}

/* .p2-ship {
    background-color: red;
} */

.board {
    display: flex;
    flex-direction: column;
}

.board > div {
    display: flex;
}

div [hit = "true"] {
    background-color: brown;
}

div [class~="ship"][hit = "true"]{
    background-color: black;
}